@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("./fonts/Lobster/Lobster-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  --text-color: #00000099;
}
body {
  min-width: 80rem;
  max-width: 100vw;
  height: fit-content;
  padding: 4rem 8rem 5.4rem 8rem;
  font-family: "Inter";
  letter-spacing: 0%;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 144rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Foodieland {
  font-family: "Lobster";
  font-weight: 40rem;
  font-size: 2.4rem;
  line-height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  list-style: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: -2%;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

main::before {
  content: "";
  width: 100%;
  border: 1px solid #0000001a;
  margin: 4rem 0rem;
}

main {
  width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

section {
  width: 128rem;
}

img {
  width: 100%;
  height: 100%;
}

.section1 {
  height: 64rem;
  display: flex;
  border-radius: 3.2rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 16rem;
}

.content-box {
  width: 62rem;
  height: 100%;
  padding: 5rem;
  background-color: #e7fafe;
}

.section1 .title {
  width: 15.6rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-weight: 60rem;
  font-size: 1.4rem;
  letter-spacing: -2%;
  margin-bottom: 3.2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.section1 h2 {
  font-weight: 60rem;
  font-size: 6.4rem;
  letter-spacing: -4%;
  margin-bottom: 2.4rem;
}

.section1 .description {
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.food-time {
  display: flex;
  justify-content: flex-start;
  gap: 1.6rem;
  margin-bottom: 10rem;
}

.food-time div {
  height: 4rem;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 50rem;
  font-size: 1.4rem;
  letter-spacing: -2%;
  color: var(--text-color);
}

.food-time img {
  width: 2.4rem;
  height: 2.4rem;
}

.chef-view {
  width: 100%;
  display: flex;
  gap: 15.7rem;
  align-items: center;
}

.chef {
  width: 17rem;
  height: 5rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.view {
  width: 20rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1.6rem;
  background-color: black;
}

.img-chicken {
  width: 66rem;
  height: 100%;
}

.img-like {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 5rem;
  left: 57rem;
  z-index: 10;
}

.section2 {
  height: 34.2rem;
  margin-bottom: 18.3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 8rem;
}

.categories-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categories-heading .title {
  width: fit-content;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -4%;
  padding: 0;
}

.categories-heading .view {
  width: 20rem;
  height: 6rem;
  border: none;
  border-radius: 1.6rem;
  background-color: #e7fafe;
  text-align: center;
  font-weight: 60rem;
  font-size: 1.6rem;
  letter-spacing: -2%;
}

.categories-list {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  grid-column: 4rem;
  font-weight: 60rem;
  font-size: 1.8rem;
  letter-spacing: -2%;
  text-align: center;
}

.category {
  width: 18rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-img {
  position: relative;
}

.categories-list .category-img img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 4rem;
  z-index: 3;
}
.category-img-filter {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 2rem;
  left: 6rem;
  z-index: 2;
  opacity: 25%;
  filter: blur(20px);
}

.categories-list .category-name {
  width: 100%;
  height: 15rem;
  position: absolute;
  bottom: 0;
  border-radius: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
}
.cat-1 .category-img-filter {
  background: url("./images/image -rice.png");
}
.cat-1 .category-name {
  background: linear-gradient(
    180deg,
    rgba(112, 130, 70, 0) 0%,
    rgba(112, 130, 70, 0.1) 100%
  );
}
.cat-2 .category-img-filter {
  background: url("./images/image\ -vegetable.png");
}
.cat-2 .category-name {
  background: linear-gradient(
    180deg,
    rgba(108, 198, 63, 0) 0%,
    rgba(108, 198, 63, 0.1) 100%
  );
}
.cat-3 .category-img-filter {
  background: url("./images/image\ -meat.png");
}
.cat-3 .category-name {
  background: linear-gradient(
    180deg,
    rgba(204, 38, 27, 0) 0%,
    rgba(204, 38, 27, 0.1) 100%
  );
}
.cat-4 .category-img-filter {
  background: url("./images/image\ -cake.png");
}
.cat-4 .category-name {
  background: linear-gradient(
    180deg,
    rgba(240, 158, 0, 0) 0%,
    rgba(240, 158, 0, 0.1) 100%
  );
}
.cat-5 .category-img-filter {
  background: url("./images/image\ -sandwitch.png");
}
.cat-5 .category-name {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}
.cat-6 .category-img-filter {
  background: url("./images/image\ -chocholate.png");
}
.cat-6 .category-name {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 9.5rem;
  margin-bottom: 14.3rem;
}
.recipes-introduction {
  width: 70.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
}
.recipes-introduction h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-weight: 60rem;
  font-size: 4.8rem;
  letter-spacing: -4%;
}
.recipes-introduction p {
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0%;
  color: #00000099;
}

.recipes-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(40rem, 1fr));
  gap: 4rem;
}

.recipe-box {
  width: 100%;
  height: 43.4rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  border-radius: 3rem;
}

.recipe-box .img-box {
  position: relative;
  border-radius: 3rem;
  margin: 1.6rem 1.6rem 0;
  overflow: hidden;
}

.heart {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: 2em;
  right: 2rem;
}
.recipe-box .food-name {
  font-weight: 60rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -4%;
  margin: 2.4rem;
}
.recipe-box .food-time {
  margin-left: 2.4rem;
  margin-bottom: 3.2rem;
}
.section3 .food-time div {
  padding-left: 0;
}
.recipe-box-healthy {
  position: relative;
  width: 100%;
  height: 43.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/Mask\ Group\ \(4\).png");
}
.recipe-box-healthy > p {
  width: 17.2rem;
  font-family: "Lobster";
  font-weight: 40rem;
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  margin-top: 4rem;
}
.recipe-box-healthy span {
  position: absolute;
  font-weight: 50rem;
  font-size: 1.4rem;
  letter-spacing: -2%;
  color: #ffffff99;
  bottom: 3.2rem;
  z-index: 10;
}
.section4 {
  height: 60rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  border-radius: 3.2rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 6rem;
}

.section4 .content {
  width: 53rem;
  display: flex;
  flex-direction: column;
  margin-top: 16rem;
  margin-bottom: 7.2rem;
  background-color: #ffffff;
}

.section4 .title {
  font-weight: 70rem;
  font-size: 4.8rem;
  letter-spacing: -4%;
  line-height: 100%;
  margin-bottom: 2.4rem;
}

.section4 .description {
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #00000099;
  margin-bottom: 7.2rem;
}

.learn-more {
  width: 18rem;
  height: 6rem;
  border-radius: 1.6rem;
  background: #000000;
  color: #ffffff;
  font-size: 1.4rem;
}

.section4 .images {
  position: relative;
  width: 70rem;
  height: 100%;
}

.bg-blue {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65rem;
  height: 50rem;
  border-radius: 3rem;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  z-index: -1;
}

.section4 img {
  position: absolute;
}

.section5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44.2rem;
  border-radius: 6rem;
  background: #e7f9fd;
  margin-bottom: 17.6rem;
}

.section5 > div {
  width: 62rem;
  height: 28rem;
}

.section5 .title {
  font-weight: 60rem;
  font-size: 4.8rem;
  line-height: 100%;
  letter-spacing: -4%;
  margin-bottom: 2.4rem;
}

.section5 .description {
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  text-align: center;
  color: #00000099;
  margin-bottom: 6.4rem;
}

.mail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48rem;
  height: 8rem;
  border-radius: 2.4rem;
  background: #ffffff;
  padding: 1rem 1rem 1rem 3.2rem;
}

.mail-box span {
  font-weight: 50rem;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: -2%;
  color: #00000066;
}

.mail-box button {
  width: 16rem;
  height: 6rem;
  border-radius: 1.6rem;
  background: #000000;
  color: #ffffff;
  font-weight: 60rem;
  font-size: 1.4rem;
}

.img-left {
  position: absolute;
  width: 30rem;
  height: 40rem;
  left: 0;
  bottom: 0;
}

.img-right {
  position: absolute;
  width: 32rem;
  height: 20rem;
  right: 0;
  bottom: 0;
}

footer{
width: 128rem;
height: 19.3rem;
display: flex;
flex-direction: column;
gap: 5rem;
}

.footer-1{
  width: 100%;
  height: 7.4rem;
display: flex;
justify-content: space-between;
}

.footer-1 > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-1 .menu-box{
display: flex;
flex-direction: column;
justify-content: center;
}

.p1{
font-weight: 40rem;
font-size: 1.6rem;
color: #00000099;
margin-bottom: 0;
}


.footer-2{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content:flex-end;
  gap: 34rem;
}

.footer-2 p{
 color: #00000099;
  font-size: 1.8rem;
  font-weight: 40rem;
}

.footer hr{
  width: 100%;
  border: 1px solid #0000001a;
}