
@font-face {
    font-family:'Inter';
src: url("./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");} 

@font-face {
    font-family: 'Lobster' ;
    src: url("./fonts/Lobster/Lobster-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    --text-color: #00000099;
;

}
body{
 min-width: 80rem;
max-width: 100vw;
height:fit-content ;
padding: 4rem 8rem 5.4rem 8rem;
font-family: 'Inter';
letter-spacing: 0%;
color: #000000;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

header{
    width: 144rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Foodieland{
font-family: 'Lobster';
font-weight: 40rem;
font-size: 2.4rem;
line-height: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    list-style: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.6rem;
   line-height: 100%;
   letter-spacing: -2%;
  }

.social{
    display: flex;
    justify-content: space-between;
    gap: 4rem;

}

main::before{
    content: "";
    width: 100%;
   border: 1px solid #0000001A;
   margin: 4rem 0rem;
}

main{
    width: 144rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';

    }


    img{
    width: 100%;
    height: 100%;
}

.section1{
    width: 128rem;
    height: 64rem;
    display: flex;
    border-radius: 3.2rem;
    overflow: hidden;
    position: relative;
}

.content-box{
    width: 62rem;
    height: 100%;
    padding: 5rem;
    background-color: #E7FAFE;
}

.title{
 width: 15.6rem;
height: 4.5rem;
display: flex;
justify-content: space-between;
background-color: white;
font-weight: 60rem;
font-size: 1.4rem;
letter-spacing: -2%;
margin-bottom: 3.2rem;
padding: 1rem 2rem;
border-radius: 3rem;
}

 .section1 h2{
font-weight: 60rem;
font-size: 6.4rem;
letter-spacing: -4%;
margin-bottom: 2.4rem;
}

.section1 .description{
font-weight: 40rem;
font-size: 1.6rem;
line-height: 2.8rem;
margin-bottom: 3rem;
color: var(--text-color);
}
 
.food-time{
    display: flex;
    justify-content: flex-start;
    gap: 1.6rem;
    margin-bottom: 10rem;
}
 
.food-time div{
    height: 4rem;
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
font-weight: 50rem;
font-size: 1.4rem;
letter-spacing: -2%;
color: var(--text-color);

}


.food-time img{
    width: 2.4rem;
height: 2.4rem;
}

.chef-view{
width: 100%;
display: flex;
gap: 15.7rem;
align-items: center;
}
 
.chef{
height: 5rem;
display: flex;
gap: 1.6rem;
align-items: center;
}

.view{
    width: 20rem;
    height: 6rem;
display: flex;
justify-content: center;
align-items: center;
gap: 1.5rem;
border-radius: 1.6rem;
background-color:  black;
}

.img-chicken{
    width: 66rem;
    height: 100%;
      

}

.img-like{
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 5rem;
    left: 57rem;
    z-index: 10;
}